* {
    box-sizing: border-box;
}
html {
}

body {
    margin: 0;
    background-color: #1A1327;
}

.main-container {
    padding: 30px;
    max-width: 560px;
    margin: 0 auto;
}

.hero {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #F3DBDB;
}

.red-text {
    color: #E27676;
    display: inline-block;
}

@media screen and (min-width: 100px) {
    .main-container {
        max-width: 1200px;
    }
}

/* @keyframes 
animte-text { 
    0%   { opacity: 0;
           transform: translate(0, 50px);
         }
    25% { opacity: 1;
           transform: translate(0, 0);
        }
    50% { opacity: 1;
        transform: translate(0, 0);
        }  
    100% { opacity: 0;
        transform: translate(0, -50px);
        }        
} */

/* .fade-in-text {
    animation-name: animate text 1s forwards;
    animation-duration: 1000;
    animation-fill-mode: forwards;
} */

.o-preloader__text--js-cycle {
    color: #E27676;
    display: inline-block;
    animation-name: text-cycle;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }

  @keyframes text-cycle {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    15% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    65% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }