* {
    box-sizing: border-box;
}
html {
}

body {
    margin: 0;
    background-color: #1A1327;
}

.main-container {
    max-width: 780px;
    margin: 0 auto;
}

.hero {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #F3DBDB;
}

.red-text {
    color: #E27676;
    display: inline-block;
}


/* @keyframes 
animte-text { 
    0%   { opacity: 0;
           transform: translate(0, 50px);
         }
    25% { opacity: 1;
           transform: translate(0, 0);
        }
    50% { opacity: 1;
        transform: translate(0, 0);
        }  
    100% { opacity: 0;
        transform: translate(0, -50px);
        }        
} */

.fade-in-text {
    animation-name: animate text 1s forwards;
    animation-duration: 1000;
    animation-fill-mode: forwards;
}